.chart-head {
  display: flex;
  justify-content: space-between;
  width: 85%;
}
.days {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.days i {
  color: #144b9d;
  cursor: pointer;
}
.info-head h2 {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.8);
}
.price-head h3 {
  font-size: 18px;
}
.price-head span {
  color: rgba(0, 0, 0, 0.6);
}
.days-btn {
  border: 1px solid #144b9d !important;
  color: #144b9d !important;
}
.days-btn:hover {
  background-color: #144b9d !important;
  color: white !important;
}
.coin-info {
  margin-top: 50px;
  width: 90%;
}
.right {
  text-align: right;
  color: black !important;
}
.coin-info h2 {
  color: #144b9d;
}
.coin-info p {
  color: rgba(0, 0, 0, 0.6);
}
.coin-info td {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}
