.footer {
  background-color: #144b9d;
  color: white;
  width: 100%;
  height: 144px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.social-icons {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.social-icons > i {
  font-size: 25px;
  cursor: pointer;
}
