.stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
  margin: auto;
}
.stats-head h2 {
  margin: 25px 0;
  color: #144b9d;
}
.stats h5 {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}
.stats p {
  font-size: 27px;
  color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 576px) {
  .stats {
    width: 90%;
  }
}
